<% include ../partials/header %>
<div class="jumbotron" id="aboutjumbo">
    <div class="container">
  <h2 id="aboutheader">About <span id="branding">Camp</span>Zilla:</h2>
  <hr>
  <p id="aboutsubject">CampZilla is an application used to search for CampSites all over India.You can even share your own campsite with others on this platform.You can also view and comment on other campsites and give your rating accordingly.The application is quite reliable as there are admins to check & validate the contents of it.In short,it is a great place for those who love travelling and camping.</p>
</div>
</div>
<div class="jumbotron" id="aboutjumbo">
    <div class="container">
  <h2 id="aboutheader">Our Team:</h2>
  <hr>
  <img src="/stylesheets/pratimage.jpg" id="pratimage">
  <h3 id="myname">Pratyush Kumar</h3>
  <h4 id="college">BTech in ECE from Thapar Institute Of Engineering & Technology,Patiala.(Batch 2017-21)</h4>
  <p id="aboutsubject1"><b>Is the developer of this website.</b></p>
  <p id="aboutsubject1">Reach out to <i class="fab fa-google-plus" id="gmail"></i><em> pratyush63.kumar@gmail.com</em> to connect!</p>
  <a href="https://www.facebook.com/pratyush63" target="_blank"><i class="fab fa-facebook-square" id="facebook"></i></a>
  <a href="https://github.com/pratyush63" target="_blank"><i class="fab fa-github-square" id="github"></i></a>
  <a href="https://www.linkedin.com/in/pratyush63/" target="_blank"><i class="fab fa-linkedin" id="linkedin"></i></a>
  <a href="https://www.instagram.com/pratyush63/" target="_blank"><i class="fab fa-instagram" id="instagram"></i></a>
  
  <p id="note">***NOTE: This project is still a work in progress.***</p>
  
  
  
</div>
</div>









<% include ../partials/footer %>